html {
    margin: 0 auto;
}

/*Header section*/
header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin: 0 24px;
    align-items: center;
}

.logo {
    display: flex;
    height: 32px;
    align-items: center;
}

.logo h3 {
    text-transform: uppercase;
}

.logo span {
    color: rgb(212, 212, 212);
}

nav .main-nav {
    display: flex;
}

nav .mobile-nav {
    display: none;
}

nav li {
    list-style: none;
    margin-right: 16px;
}

#signin {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

/*Banner section*/
.banner {
    display: flex;
    margin: 0 auto;
    background-color: rgb(226, 226, 226);
    align-items: center;
}

.banner img {
    width: 60%;
    margin: 32px 24px;
    border-radius: 2px;
}

.banner-text {
    width: 25%;
}

.banner-text button {
    width: 100%;
    padding: 8px 0;
    background-color: rgb(78, 78, 78);
    color: white;
    border-radius: 2px;
}

/*Articles section*/
.articles {
    
    display: flex;
}

.main-art {
    width: 60%;
    border-right: solid 1px rgb(226, 226, 226);
    padding: 32px 24px 32px 24px;
}

.main-art img {
    width: 100%;
    height: auto;
}

.side-arts {
    width: 40%;
    padding: 16px 0;
}

.side-art {
    border: solid 1px rgb(226, 226, 226);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.side-art img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.side-art p {
    margin: 8px 0;
}

.mobile-img {
    display: none;
}

.guest {
    background-color: rgb(226, 226, 226);
}

/*Learning section*/
.learning {
    background-color: rgb(226, 226, 226);
    padding: 32px 56px 16px;
}

.learning h2 {
    text-align: center;
    margin-bottom: 16px;
}

.learning .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    max-width: 30%;
    margin: 16px 16px;
    border-radius: 2px;
}

@media screen and (max-width: 1088px) {
    .card {
        max-width: 45%;
    }
}

.card-text {
    padding: 16px;
}

.card img {
    width: 100%;
    height: auto;
}

/*Thesis exhibit section*/
.thesis h2 {
    text-align: center;
    padding: 32px 0;
}

.thesis .container {
    display: flex;
}

.exhib {
    margin-left: 24px;
}

.main-exhib {
    width: 60%;
}

.main-exhib video {
    width: 100%;
    height: auto;
}

.exhib-text {
    margin: 24px 0px;
}

.exhib-text p {
    margin: 8px 0;
}

.side-exhibs {
    width: 40%;
}

.side-exhib {
    display: flex;
    align-items: center;
}

.side-exhib img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.se1 {
    background-color: rgb(226, 226, 226);
}

/*Footer*/
footer {
    border-top: 1px solid rgb(226, 226, 226);
    display: flex;
    justify-content: space-between;
}

footer p {
    margin-left: 24px;
}

footer ul {
    display: flex;
}

footer li {
    list-style: none;
    margin-right: 16px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

/*Media queries for mobile*/
@media screen and (max-width: 480px) {
    /*Header*/
    header {
        margin: 0;
        display: block;
    }

    .logo {
        display: none;
    }

    nav .main-nav {
        display: none;
    }

    nav .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    nav li {
        margin-right: 0;
    }

    /*Banner*/
    .banner {
        display: block;
        width: 100%;
    }

    .banner img {
        width: 100%;
        margin: 0;
        border-radius: 2px;
    }

    .banner-text {
        width: 100%;
        padding: 32px 16px;
    }

    .banner-text button {
        width: 100%;
        padding: 8px 0;
        background-color: rgb(126, 126, 126);
    }
}